 body{ font-size:13px;
 line-height:13px; 
background-color: #fff;}

 .card {
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #fff!important;
    border-radius: .25rem
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f0f3f5;
    border-bottom: 1px solid #fff!important;
}
.logo img{width: 125px;}

.lab-sign img{width: 150px;}

.certificate h2{
    text-align: center;
    color:#5a5a5a;
    padding:1.5%;
}

.center{text-align: center;}

.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #5a5a5a!important;
}
.table-bordered td, .table-bordered th {
    border: 2px solid #5a5a5a!important;
}

.table-borderless tr{border-color: #fff!important;}

.table th, .table td{padding:0 5px!important;}
.foot img{width:120px;text-align: left;}

.property th{width: 200px;}

h6 .word {
            width: 150px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-word;
            font-size:14px;line-height:13px;
        }

        .page .lab-sign{width:230px!important;height:auto;float:right;}
        h6{font-size:15px;}


@media print 
{    
    .table-bordered td {border: 1px solid #000 !important;}
    .word{font-size: 13px;text-transform: uppercase;}
}