 body{ font-size:13px;
 line-height:13px; }

 .card {
    margin-bottom: 1.5rem
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;

}
.logo img{width: 200px;}

.lab-sign img{width: 150px;}

.certificate h2{
    text-align: right;
    color:#5a5a5a;
    background: url(dimension.png);
    padding:1.5%;
}

.center{text-align: center;}

.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #5a5a5a!important;
}
.table-bordered td, .table-bordered th {
    border: 2px solid #5a5a5a!important;
}

.table th, .table td{padding:0 5px!important;}
.foot img{width:120px;text-align: left;}

.property th{width: 200px;}
.remarks {padding:1rem;border-style:solid;border-color: black;}

        .table{font-size:13px;}
        .logo{width: 120px;height: auto;}
        input {
                background-color: white;
                color: #000;
                border: none;
                }

        input[type=checkbox], input[type=radio] 
        {
        display: none;
        }

        .table th, .table td {
    padding: 0 2px!important;
}

.page{margin: 0cm auto!important;}

.bms{font-size:16px; font-weight: bold;}


@media print {

body{  font-size:15px;
    line-height: 15px; }

 .card {border-color: #fff;}   
 .bms{font-size:16px; font-weight: bold;}
table tr {
    font-size: 14px;
    border-collapse: collapse;
    border:solid #000 !important;
    border-width:2px !important;
}

table td + td {
  border-left: 5px solid black;
}


}